<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Arthur\Factories\Logger\Handlers\AbstractHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Arthur\Factories\Logger\CsvLogger">
        <arguments>
            <argument name="name" xsi:type="string">csvLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Arthur\Factories\Logger\Handlers\CsvHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Arthur\Factories\Logger\JsonLogger">
        <arguments>
            <argument name="name" xsi:type="string">jsonLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Arthur\Factories\Logger\Handlers\JsonHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Arthur\Factories\Model\Factory\GeneralFactory">
        <arguments>
            <argument name="loggersFactory"  xsi:type="array">
                <item name="csv" xsi:type="object">Arthur\Factories\Model\Factory\CsvLoggerFactory</item>
                <item name="json" xsi:type="object">Arthur\Factories\Model\Factory\JsonLoggerFactory</item>
            </argument>
        </arguments>
    </type>
</config>
